Dear {{username}}
You recently signed up for Japanese Learning Online Tool. To complete signup click this button:      Complete Signup

________________________________________
Or, you can copy and paste this link into your browser:
<a href="{{activelink}}">{{activelink}}</a>

Thank you,
The Japtool Team

