<div>
    <h1>Dear {{username}},</h1>
</div>
<div>
    <p>You recently signed up for <a href="#">Japanese Learning Online Tool.</a></p>

    <p>To complete signup <b>click this link: </b><a href="{{activelink}}" class="btn btn-success">Complete Signup</a>
    </p>
</div>

<div>
    <p>
        Or, you can copy and paste this link into your browser:<br/>
      {{activelink}}
    </p>

    <p>
        Thank you,<br/>
        The Japtool Team.<br/>
    </p>
</div>
