<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Active account</title>
</head>
<body>
<div style="background-color: #F1F1F1">
  <div style="margin: auto; width: 50%; padding-left: 40px; background-color: white">
    <div class="row">
      <div class="col-xs-12">
        <h1>Dear Tuan Trong,</h1>
      </div>
      <div class="col-xs-8">
        <p>You recently signed up for Japanese Learning Online Tool. </p>

        <p>To complete signup <b>click this button:</b></p>
      </div>
      <div class="col-xs-4">
        <a href="#" class="btn btn-success">Complete Signup</a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>
          Or, you can copy and paste this link into your browser:<br/>
          <a href="#">http://localhost:63342/maildemo/views/new.html</a><br/>
        </p>

        <p>
          Thank you,<br/>
          The Japtool Team
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3" style="padding-left: 45px; padding-top: 15px;">
      <p>Japtool Corporation | F-Ville, Hoa Lac High-tech Park, VN </p>
    </div>
  </div>
</div>
</body>
</html>
