<div style="background-color: #F1F1F1">
    <div style="margin: auto; width: 50%; padding-left: 40px; padding-top: 1px; background-color: white">
      {{{body}}}
    </div>
    <div style="margin:auto; width: 50%; padding-left: 40px; padding-bottom: 1px;">
        <p>Japtool Corporation | F-Ville, Hoa Lac High-tech Park, VN </p>
    </div>
</div>





